# --------------------------------------------------------
# These properties are the local development properties.
#
# Spring boot uses this file when the application is launched
# with the root of the project set as the working directory.
# These properties take precendence over the classpath
# application.yml.
#
# Using gradle from the commandline means the working
# directory is by defaul the project root.
#
# Using Intellij you need to setup your run config so the
# working directory is the project root.
# --------------------------------------------------------
server:
  port: 8081

security:
  basic:
    enabled: "${SECURITY_ENABLED:true}"
  user:
    name: "admin"
    password: "admin"

spring:
  session:
    enabled: "${SESSION_CLUSTER_ENABLED:true}"
  datasource:
    url: "jdbc:mysql://localhost:3306/iat?useSSL=false"
    username: "${DB_USER}"
    password: "${DB_PASSWORD}"
    validationQuery: SELECT 1
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        show_sql: true
        use_sql_comments: true
        format_sql: true

flyway:
  schemas: "iat"
  enabled: true

itembank:
  host: "https://gitlab-dev.smarterbalanced.org"
  accessToken: "${GITLAB_ACCESS_TOKEN}"
  user: "${GITLAB_USER}"
  password: "${GITLAB_PASSWORD}"
  group: "${GITLAB_GROUP}"
  localBaseDir: "${HOME}/ItemBank"
  apiVersion: "/api/v4"
  bankKey: "187"

# cache expiration for things like workflow status
cache:
  expirationSeconds: 30

logging:
  level:
    org:
      opentestsystem:
        ap:
          ims: DEBUG

---
spring:
  profiles: dev

  datasource:
    url: "jdbc:mysql://iat-dev-db.cjqp2fdamfoh.us-east-2.rds.amazonaws.com:3306/iat?useSSL=false"

flyway:
  enabled: true

itembank:
  group: "iat-development"

---
spring:
  profiles: uat

  datasource:
    url: "jdbc:mysql://iat-uat-db.cjqp2fdamfoh.us-east-2.rds.amazonaws.com:3306/iat?useSSL=false"

flyway:
  enabled: true

itembank:
  group: "iat-uat"

