# ---------------------------------------------------------
# The Gradle build expands its project properties to
# replace the substitution tokens.
# ---------------------------------------------------------

# shown on the actuator /info endpoint
info:
  app:
    name: ${name}
    description: ${description}
    java:
      source: ${sourceCompatibility}
      target: ${targetCompatibility}

# changes actuator endpoints - /manage/info
management:
  context-path: "/manage"
